<launch>

    <arg name="project" default="lio_sam"/>
    <arg name="imu_topic"   default = "livox/imu_corrected" doc = "IMU raw data (input to madgwick filter)" />

    <node pkg="add_ring_field" name="convert_imu" type="convert_livox_imu.py" />

    <node pkg="imu_filter_madgwick" name="filter_madgwick" type="imu_filter_node">
        <remap from="imu/data" to="madgwick/imu/data"/>
        <remap from="imu/data_raw" to="$(arg imu_topic)"/>
        <param name="gain" type="double" value="0.1" />
        <param name="use_mag" type="bool" value="false" />
    </node>

    <node pkg="add_ring_field" name="add_ring_field" type="add_ring_field_node">
        <remap from="input_pointcloud" to="livox/lidar"/>
    </node>


    <!-- Parameters -->
    <rosparam file="$(find add_ring_field)/config/params_lio_sam_mid360.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
